body {
    margin: 0px;
    background: linear-gradient(to bottom, #5CC8CC, #73BFB8);
    font-family: Arial, sans-serif;
      /* color: #333; */
}

header{
background-color: #E0F4F4;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



h1 {
    font-family:  'Great Vibes', 'Pacifico', 'cursive';
        font-size: 4em;
        font-weight: normal;
    
        /* border-bottom: 2px solid #28A8A8;
        border-right: 2px solid #28A8A8; */
        text-align: center;
        /* text-shadow: 2px 2px 0px #000000; */
        padding: 10px;
        
        margin: 10px auto;
    }

#illustration-img {
    /* width: 100px;
    height: 100px; */
    margin-top: 10px;
    animation: spin 5s infinite linear;
}


.my-img {
/* border: 5px solid black; */
    border-radius: 10px;
    width: 500px;
    max-width: 500px;
    height: 300px;
    margin: 10px;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  

}


img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 10);
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-color: #000; */
    animation: spin 5s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}





.illustration {
    /* width: 100px; */
        height: auto;
        /* margin-bottom: 10px; */
}

footer {
    background-color: #138D75;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
        color: #fff;
}